.post-button {
  margin-top: 50px;

  .btn {
    color: $read-more-color;
    font-size: $read-more-font-size;
    // background: $read-more-bg-color;
    border-radius: $read-more-border-radius;
    line-height: 2;
    margin: 0 4px 8px 4px;
    background: #40BAF8;;
    border: 1px solid rgba(255,255,255,.3);
    box-shadow: 0 4px 8px 0 rgba(64,186,248,0.22);
  }
  .btn:hover {
    @extend .btn:hover;
  }
  .fa-fw {
    width: (18em / 14);
    text-align: left;
  }
}
